body {
    background-color: #F8E8A6;
}
h1 {
    text-align: center;
}
p {
    text-align: center;
}
.example-photo {
    display: block;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
    max-width: 750px;
}
footer {
    text-align: center;
}
.links {
    margin: 10px;
    color: green;
}